.title{
    line-height: 3rem !important;
}

.content{
 p {
    margin: 10px 0;
    padding-bottom: 1rem !important;
    }
}

.description{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}
