

.Grid {
  display: grid;
  grid-template-columns: 1fr;
  @media (--md) {
    grid-template-columns: 1fr 1fr;
  }
  @media (--lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  a {
    font-weight: normal;
  }
  a:hover {
    text-decoration: none;
  }
}
