name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - 'main'  
jobs: 
    
    
  codegen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: npm install
      - name: codegen
        env: # Or as an environment variable
          GQL_CMS_TOKEN: ${{ secrets.GQL_CMS_TOKEN }}
          GQL_CMS_ID: ${{ secrets.GQL_CMS_ID }}
        run: npm run codegen  
      - run: npm run tsc 
    
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: '14'
    - run: npm install
    - run: npm run test
